body
{
font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #EBEBEB;
}
* {box-sizing: border-box;}

#mail,#name,#pno,#mind{
 width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  margin-top: 1%;
  margin-bottom: 1%;
  resize: vertical;
}
div.burger
{
    background-color: rgb(119, 115, 115);
}
.burger div
{
    background-color: #c0bcbc;
}
.bar1 , .bar1 , .bar1
{
    background-color: #EBEBEB;
}
#sub{
  background-color: #3e55c7;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  

}

.container4 {
  background-color: #F5F5F5;
  padding: 2%;
  width:50%;
  display:block;
  margin:0 auto;
  
}
#mind{
	height:150px;
}






