
*{
	font-family: 'Kalam', cursive;
}
div.burger
{
    background-color: rgb(119, 115, 115);
}
.burger div
{
    background-color: #c0bcbc;
}
.bar1 , .bar1 , .bar1
{
    background-color: #EBEBEB;
}
 .div-block{

	position:static;
	border:5px solid black;
	background-color:#f0f9fa;
	width:90%;
	margin: 50px auto;
	
}
body
{
	background-color: #EBEBEB;
	
}
.faq{

	
	position:relative;
	width:95%;	
	top:10px;
	left:10px;
	padding:10px;
	font-size:1.3rem;
	font-weight:bold;
	font-family: 'Kalam', cursive;
	
	
}	
.questions
{
	height: 100%;
	overflow: hidden;
	margin: 40px;
}
.bold
{
	font-weight: 800;
}
.ques{
	font-size:3rem;
	font-weight:bold;
	color:red;
	font-family: 'Kalam', cursive;
	font-weight: 800;

}
.ans{
	font-size:3rem;
	font-weight:bold;
	color:green;
	font-family: 'Kalam', cursive;

}
.faqheading{
	padding:10px;
	font-size:4rem;
	text-align:center;
} 