#main {
  width: 80%;
  height: 100%;
  border: 5px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
div.burger
{
    background-color: rgb(119, 115, 115);
}
.burger div
{
    background-color: #c0bcbc;
}
.bar1 , .bar1 , .bar1
{
    background-color: #EBEBEB;
}
#main div {
  width: 100%;
  height: 90%;
  padding:2%;
  
  background-color:darkgray;
}

.referenceHead{
	text-align:center;
}
body
{
    background-color: #EBEBEB;
}