
.galleryMain
{
    height: 20%;
    width: 100%;
    display: flex;
    background-color: lightblue;
}
.roomList a{
    text-decoration: none;
    color: black;
    background: wheat;
}
.rightImg
{
    width: 50%;
}
.hotalimg
{
    width: 100%;
    height: auto;
    
}

.leftdetails
{
    font-size: 2vm;
    text-align: center;
   margin: 30px;
   
}


/*Room List  */

.roomList
{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    margin: 20px auto
}
.galleryMain
{
    background: #D6D6D6;
}
.room
{
    background-color: rgb(223, 222, 213);
    width: 400px;
    height: 650px;
    margin: 20px;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    border: 2px solid lightgray;
}

body
{
    background-color: #EBEBEB;
}
.room .heading , .details
{
    margin-top: 10px;
}
.room img
{
    width: 100%;
    height: auto;
}

.room .learnMore
{
    width: 100px;
    float: left;
    margin: 10px;
    margin-top: 40px;
    height: 30px;
}
.room .bookNow
{
    width: 100px;
    float: right;
    margin: 10px;
    margin-top: 40px;
    height: 30px;
}


.roomTour
{
    display: block;
    height: 30px;
    width: 100%;
    margin-top: 120px;
}

.roomTour a
{
    text-decoration: none;
    color: black;
}
/* Media Querries */
/* For mobiles */
@media only screen and (max-width: 640px) {
    .galleryMain{
        flex-wrap: wrap-reverse;
    }


  }

  @media only screen and (max-width: 940px) {

    .galleryMain{
        flex-wrap: wrap-reverse;
        background: #D6D6D6;
    }
    .roomList{
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px auto;
    }
    .room{
        margin: 20px auto;
    }

  }
/* Fore desktop */
@media only screen and (min-width: 641px) {
    .roomList{
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px auto;
    }
    .room{
        margin: 20px auto;
    }
    
  }
/* Tablets */

@media screen and (min-width:1008px)
{
    /* *{
        background: blue;
    } */
    
}