*{
    padding: 0;
    margin: 0;
    box-shadow: none;
}


/* hamburger */

.burger
{
    position: absolute;
    background: black;
    display: none;
    right: 5%;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
/* Logo */
.logo
{
    color: white;
    font-size-adjust: none;
    font-size: 50px;
    padding-left:25px
}

/* nav bar menu */
header
{
    background: black;
    max-width: 100%;
    height: 10%;
    display: block;
    width: 100%;
    margin: 0 auto;
}
nav a
{
    text-decoration: none;
    color:black;
}
nav li
{
    list-style: none;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-links
{
    display:flex;
    justify-content: center;
    padding: 10px;
  
}
.main-links li a
{
    color: white;
    margin: 13px;
    flex-wrap: wrap;
    align-content: center;
}
.main-links li:hover
{
    background: grey;
}

/* Search input */
/* .searchbar
{
    height: 45px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    border: 2px solid red;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
}
.search
{
    display: block;
    max-width: 60%;
    height: 50%;
    margin-right: 10px ;
}
.btn
{
    display: block;
    width: 100px;
    height: 59%;
} */

/* Image Slider */

.images
{
    max-width: 100%;
    margin: auto;
    position: relative;
}
.rightslide , .leftslide{

    position: absolute;
    height: 40px;
    width: 40px;
    color:black;
    background-color:  rgb(80, 77, 77);
    font-size: 40px;
    font-weight: bolder;
    top: 50%;
    margin: -5%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: all .5s ease;
}
.rightslide:hover , .leftslide:hover{
    background: blue;
}

.rightslide
{
    right: 10%;
}
.leftslide
{
    left: 10%;
}
.images .img-items .item img
{
    width: 100%;
    height: 25%px;
    display: block;
    background-size: contain;
}
.images .img-items .item 
{
    display: none;
    position: relative;
}
.caption
{
    position:absolute;
    height: 100px;
    bottom: 50px;
    background: lightgray;
    text-align: center;
    color: white;
    font-size: 100px;
    display: block;
    width: 100%;
    margin: 0 auto;

}
.images .img-items .item.active
{
    display:block;
}


/*shows active status of navbar*/
.active{
    background-color:slategray;
}

.About-background{
    background-image : url("../images/room.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-wrapper{
    float:left;
    width:80%;
    margin-top:5%;
    margin-left:5%;
    line-height:1.9;
    font-variant-caps:normal;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
    font-size:15pt;
   
}
.overview{
    margin-top:9%;
}

.quote{
    margin-top:9%;
    font-size:20pt;
    color:purple;
    font-weight:bold;
}
h1 {
    font-size: 36px;
    line-height: 40px;
  
}

h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

/* For mobile Screens */
.container
{
    width: 100%;
    height: 100%;
    top: 5%;
    position: absolute;
    display: none;
    z-index: 1;
    background-color: black;
}
.container .display li a
{
    color: white;
    text-decoration: none;
    
}
.container .display li
{
    display: block;
    width: 10px;
    margin: 30px auto;
    font-size: 20px;
}




/* Media Querries */
/* For mobiles */
@media only screen and (max-width: 640px) {
    /* body {
      background-color: lightblue;
    } */
    .burger
    {
        display: block;
    }
    .main-links{
        display: none;
    }
    .main-links li
    {
        margin: 5px;
    }

    .rightslide , .leftslide{

        top: 30%;
        margin: -2%;
    }




  }
/* Fore desktop */
@media only screen and (min-width: 641px) {
    /* body {
      background-color: red;
    } */
    .main-links{
        flex-wrap: wrap;
    }
    .main-links li
    {
        margin: 10px;
    }

    
  }
/* Tablets */

@media screen and (min-width:1008px)
{
    /* *{
        background: blue;
    } */
    
}



