
body
{
    background-color: #EBEBEB;
    overflow: hidden;
}
.helpoption
{
    display: block;
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    border-radius: 300px;
    overflow-y: hidden;
}

.helpoption img
{
    width: 100%;
    height: 350px;
    overflow-y: hidden;
}

.helpoption .help
{
    position: absolute;
    top: 40%;
    font-size:30px;
    left: 50%;
    color: white;
    transform: translate(-40%, -40%);
}
.helpoption input
{
    position: absolute;
    top: 50%;
    width: 400px;
    height: 30px;
    font-size:16px;
    left: 50%;
    text-align: center;
    color: black;
    transform: translate(-40%, -40%);
}
.helpoption button
{
    position: absolute;
    top: 60%;
    width: 100px;
    height: 30px;
    font-size:15px;
    left: 50%;
    color: black;
    transform: translate(-40%, -40%);
}

.options
{
    display: flex;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
    margin: 20px auto;
}
div.burger
{
    background-color: rgb(119, 115, 115);
}
.burger div
{
    background-color: #c0bcbc;
}
.bar1 , .bar1 , .bar1
{
    background-color: #EBEBEB;
}
.option
{
    width: 300px;
    text-align: center;
    height: 500px;
    margin: 50px;
    border: 4px solid black;
    border-radius: 20px;
    margin: 50px auto;
}

@media all and (max-width:640px){
.helpoption .help
{
    position: absolute;
    top: 20%;
    font-size:20px;
    left: 50%;
    color: white;
    transform: translate(-40%, -40%);
}
.helpoption input
{
    position: absolute;
    top: 25%;
    width: 200px;
    height: 30px;
    font-size:16px;
    background-color: #c0bcbc;
    border-radius: 20px;
    left: 50%;
    text-align: center;
    color: black;
    transform: translate(-40%, -40%);
}		
.helpoption button
{
    position: absolute;
    top: 33%;
    width: 100px;
    height: 30px;
    font-size:15px;
    left: 50%;
    color: black;
    transform: translate(-40%, -40%);
}
		
}